# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/sources/mach_plugin/Release/step2boot
/sources/mach_plugin/Release/step2link
/sources/mach_plugin/Release/step2mach
/sources/mach_plugin/Release
/sources/mach_firmware/project/step2mach THUMB Debug
/sources/mach_firmware/project/step2mach ARM Release
/sources/mach_firmware/project/step2mach ARM Debug
/sources/mach_plugin/Debug/step2boot
/sources/mach_plugin/Debug/step2link
/sources/mach_plugin/Debug
/sources/mach_plugin/LastErrors.txt
/sources/mach_plugin/ProbeDiag.txt
/sources/mach_plugin/Profile.txt
/sources/mach_plugin/test.crv
/sources/mach_plugin/test.d2c
/sources/mach_plugin/test.job
/sources/mach_plugin/test.v3d
/sources/mach_plugin/test.xfa
/sources/mach_firmware/project_crossworks/step2mach ARM Debug
