# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/sources/mach_plugin/Release/step2boot
/sources/mach_plugin/Release/step2link
/sources/mach_plugin/Release/step2mach
/sources/mach_plugin/Release
/sources/mach_firmware/project/step2mach THUMB Debug
